.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: black;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background:purple;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
 
  
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #c4cbec;
    padding: 2.5em 1.5em 0;
    font-size: 1.25em;
  }
  
  .bm-morph-shape {
    fill: #c4cbec;
  }
  /* Individual item */
  .bm-item {
    display: inline-block;
    margin-top: 20%;
  }  

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(238, 170, 170, 0.3);
  }